[submodule "TriesStruct"]
	path = TriesStruct
	url = git@github.com:WahajJaved/TriesStruct.git
[submodule "SubwaySystem"]
	path = SubwaySystem
	url = git@github.com:WahajJaved/SubwaySystem
[submodule "SeamRemoval"]
	path = SeamRemoval
	url = git@github.com:WahajJaved/SeamRemoval
[submodule "FileTransferTCP"]
	path = FileTransferTCP
	url = git@github.com:WahajJaved/FileTransferTCP
[submodule "WebServer"]
	path = WebServer
	url = git@github.com:WahajJaved/WebServer
[submodule "MiscFreelance"]
	path = MiscFreelance
	url = git@github.com:WahajJaved/MiscFreelance.git
[submodule "TextMusicPlayer"]
	path = TextMusicPlayer
	url = git@github.com:WahajJaved/TextMusicPlayer.git
[submodule "Snort-IDS"]
	path = Snort-IDS
	url = git@github.com:WahajJaved/Snort-IDS.git
[submodule "ImageMosaicing"]
	path = ImageMosaicing
	url = git@github.com:WahajJaved/ImageMosaicing.git
